<html>
  <head>
    {% include head.html %}
  </head>

  <body class="mediawiki skin-monobook action-view">
    <div id="globalWrapper">
      <div id="column-content">
        <div id="content" class="wiki-body" role="main">
  
          <h1 id="firstHeading" class="firstHeading">
            <span dir="auto">{{ page.title }}</span>
          </h1>
  
          <div id="bodyContent" class="wiki-body-content">
            <div id="mw-content-text" dir="ltr">
              {{ content | inject_anchors }}
            </div>
          </div>
        </div>
      </div>

      <div id="column-one">
        {% include logo.html %}
        {% include user.html %}
        {% include toc.html %}
        {% include links.html %}
        {% include tags.html %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
