<html>
  <head>
    {%- assign redirect_page = page.redirect_target -%}
    {%- include head.html redirect_url = redirect_page.url -%}
  </head>

  <body>
    <div id="main">
      <h1 id="title">{{ redirect_page.title }}</h1>
      <div id="content">
        <div class="redirectMsg">
          <p>{{ site.data.i18n[site.lang].label.redirect }} :</p>
          <ul class="redirectText">
            <li><a href="{{ redirect_page.url }}" title="{{ redirect_page.name }}">{{ redirect_page.title }}</a></li>
          </ul>
        </div>
      </div>
    </div>  

    <div id="menu">
      {%- include logo.html -%}
    </div>  
    {%- include footer.html -%}
  </body>
</html>
